.SearchResult {

    margin: 0 50%;
    transform: translate(-50%, -50%);
    border: black 3px solid;
    color: white;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    background: violet;   
}

