.SearchBar {

    color: white;
    border-radius: 50px;
    margin-top: 8px;
    width: 400px;
    height: 50px;
    background: #D96A6A;
}

.input-search {

    color: white;
    border-radius: 50px;
    width: 340px;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    padding: 0 30px;

}

::placeholder {
    color: white;
}

